.map {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 5px;
}

.top {
  flex-direction: column;
  display: flex;
  text-align: center;
  background-color: whitesmoke;
  justify-content: space-between;
}

.search{
 display:flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: baseline;
}

